{% extends "KitpagesSimpleEdmBundle::layout.html.twig" %}

{% block kitpages_simpleedm_content %}

        <section class="layout-main" role="main">
            <h2>{{ "Documents" | trans }}
            </h2>

            <div class="app-project-list-default">
                <a href="{{ path('kitpages_simpleedm_document_documentadd' ) }}">{{ "Create a document" | trans }}</a><br /><br />
                {% embed 'KitpagesDataGridBundle:Grid:grid.html.twig' with {'grid': grid} %}
                    {% block kit_grid_thead_column %}
                        <th>Action</th>
                    {% endblock %}

                    {% block kit_grid_tbody_column %}
                        <td class="app-admin-list-default-col-action" >
                            <a class="btn-standard kitpages-simpleedm-action-edit" href="{{ path ("kitpages_simpleedm_document_documentedit", {"id": item.id}) }}">{{ "Edit" | trans }}</a>
                            <a class="btn-standard kitpages-simpleedm-action-disabled" href="{{ path ("kitpages_simpleedm_document_documentdisabled", {"id": item.id, 'kitpages_target': path ("kitpages_simpleedm_document_documentlist") }) }}">{{ "Disabled" | trans }}</a>
                            <a class="btn-standard kitpages-simpleedm-action-delete" href="{{ path ("kitpages_simpleedm_document_documentdelete", {"id": item.id, 'kitpages_target': path ("kitpages_simpleedm_document_documentlist") }) }}">{{ "Delete" | trans }}</a>
                        </td>
                    {% endblock %}


                {% endembed %}
            </div>
        </section>
        <script>
            $(document).ready(function() {
                $('.kit-edm-delete-node').click(function(e) {
                    var response = confirm('{{"You confirm the deletion of the document ?"|trans}}');
                    if (!response) {
                        e.preventDefault();
                    }
                });

            });
        </script>


{% endblock kitpages_simpleedm_content %}
